.optionbar{
  display: flex;
  justify-content: center;
  align-items: center;
  button{
    font-family: var(--font-montserrat), serif;
    background-color: transparent;
    border: 0;
    font-size: clamp(1.2rem, 1.75vw, 1.75rem);
    margin: 1rem 0.5vw;
    &:hover:not(.active){
      transform: scale(1.15);
    }
    &.active{
      padding: clamp(0.25rem,0.5vw,0.5rem) clamp(0.5rem,1vw,1rem);
      border-radius: 8px;
      background-color: #ffffffde;
      font-size: clamp(1.25rem, 2vw, 2rem);
    }
  }
}
.workfield{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
